$dropdown-link-color: $black;

$dropdown-item-padding-x: 0.5rem;
$dropdown-item-padding-y: 0;

$dropdown-link-hover-color: $black;
$dropdown-link-hover-bg: rgba($black, 0.05);

$dropdown-link-active-color: $white;
$dropdown-link-active-bg: $main;
