$ht-background: lighten($light, 45%);
$ht-line-color: lighten($light, 30%);

$ht-day-title-height: 2.25rem;
$ht-line-size: 0.125rem;

$ht-main-child: 5rem;
$ht-main-height: 6rem;

$ht-price-child: 2rem;
$ht-price-space: 0.5rem;
