$navbar-size: 2.5rem; // Custom

$navbar-toggler-padding-x: 0;
$navbar-toggler-padding-y: 0;
$border-width: 1px !default;
$navbar-toggler-width: $navbar-size;

$navbar-padding-x: 0.5rem;
$navbar-padding-y: 0.5rem;

$navbar-brand-padding-y: 0;
$navbar-nav-link-padding-x: 0;

$navbar-light-active-color: $dark;
$navbar-light-hover-color: $dark;
$navbar-light-color: $light;
