.book-item {
    > div {
        display: grid;
    }

    .book-item-box {
        grid-column: left-box / right-box;
        grid-row: top-box / bottom-box;
        @include white-card;
    }
    .book-item-image {
        grid-column: left-img / right-img;
        grid-row: top-img / bottom-img;
        overflow: hidden;
        @include white-card;
        > img {
            @include fit-image;
        }
    }
    .book-item-text {
        grid-column: left-text / right-text;
        grid-row: top-text / bottom-text;
        overflow: hidden;
        > .book-item-title {
            display: block;
            font-weight: bold;
            font-size: 1.25rem;
            height: $book-item-title-height;
            line-height: $book-item-title-height;
            @include text-truncate;
        }

        > .book-item-tags {
            height: $book-item-tags-height;
            color: $book-item-highlight-color;
            @include text-truncate;
            > .icon {
                display: inline-block;
            }
            > * {
                display: inline-block;
            }
        }

        > .book-item-description {
            line-height: $book-item-description-line-height;
            > span {
                &.icon {
                    color: $book-item-highlight-color;
                }
                &.book-item-description-content {
                    opacity: 0.85;
                    font-size: 0.875em;
                }
            }
        }

        > .book-item-chapter {
            height: $book-item-chapter-height;
            font-weight: 600;
            color: $book-item-highlight-color;
            @include text-truncate;

            > span {
                height: $book-item-chapter-height;
                line-height: $book-item-chapter-height;
                display: inline-block;
                &.icon {
                    transition: all 0.5s;
                    display: inline-block;
                }
                &.book-item-chapter-name {
                    opacity: 0.75;
                    font-size: 0.8em;
                    font-weight: normal;
                }
            }

            &:hover {
                text-decoration: none;
                > .icon {
                    margin: 0 -0.3rem;
                    transform: rotate(270deg);
                }
            }
        }
    }
}
