// Use Lab ( x , 0 , -9 )
$dark: #181e2a;
$light: #717786;

$main: #4398d1;

$dribbble: #ea4c89;
$facebook: #4267b2;
$netlify: #25c7b7;

$body-bg: #f2f2f2;
$body-color: lighten(#212529, 25%);
$gray: #f5f6fa;
$blue: #507af2;
$red: #eb4d4b;

$black: black;
$white: white;

$theme-colors: (
    'dark': $dark,
    'light': $light,
    'main': $main,
    'white': $white,
    'black': $black,
    'blue': $blue,
    'gray': $gray,
    'dribbble': $dribbble,
    'facebook': $facebook,
    'netlify': $netlify,
    'red': $red,
);

$link-color: inherit;
$link-hover-color: inherit;
$input-bg: rgba($black, 0.1);
