$box-shadow-sm: 0 0.125rem 0.125rem rgba($black, 0.125);
$box-shadow-sm-right: 0.125rem 0 0.125rem rgba($black, 0.125);
$box-shadow: 0 0.25rem 0.25rem rgba($black, 0.125);
$box-shadow-lg: 0 0.5rem 0.5rem rgba($black, 0.125);
$box-shadow-context: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.125);
