$theme-colors: map-remove(
    $theme-colors,
    'primary',
    'secondary',
    'success',
    'info',
    'warning'
);

$custom-select-disabled-bg: $gray-200 !important;
$input-disabled-bg: $gray-200 !important;
