/node_modules
/.nuxt
/dist
/build
/database

/coverage
/.nyc_output

/LICENSE
/.gitignore
/.prettierignore

/yarn.lock

/realm-object-server

*.svg
*.ttf
*.woff

*.jpg
*.png
*.gif
*.ico

*.log

*.lock
*.scss

*.code-workspace
*.json
