/node_modules
/.nuxt
/dist
/build
/database

/coverage
/.nyc_output

/LICENSE
/.gitignore
/.gitattributes
/.prettierignore
/.editorconfig
/.eslintignore
/yarn.lock

*.gqlconfig

*.svg
*.ttf
*.woff

*.jpg
*.png
*.gif
*.ico

*.log

*.realm
*.realm.lock

*.sh

/components/utilities/icon/selection.json
