{
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "all",
    "bracketSpacing": true,
    "arrowParens": "avoid",
    "htmlWhitespaceSensitivity": "ignore",
    "printWidth": 80,
    "endOfLine": "lf",
    "overrides": [
        {
            "files": [
                "*.code-workspace",
                ".stylelintrc",
                ".babelrc",
                ".gqlconfig"
            ],
            "options": { "parser": "json" }
        }
    ]
}
