.hotel-map {
    button {
        display: block;
        margin: 0.25rem;
        width: 10rem;
        min-width: 10rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        height: 5rem;

        &.btn-light-blue {
            color: $blue;
            border-color: rgba($blue, 0.5);
        }
        &.btn-dark-blue {
            color: $blue;
            border-color: rgba($blue, 0.5);
        }
        &.btn-gray {
            border-color: rgba($black, 0.1);
        }
    }
}
