$map-breakpoints: (
    xs: 0,
    sm: 1,
    md: 2,
    lg: 3,
    xl: 4,
);

$spacer: 1rem;
$spacers: (
    0: 0,
    1: $spacer * 0.25,
    2: $spacer * 0.5,
    3: $spacer,
    4: $spacer * 1.5,
    5: $spacer * 2,
);
$carousel-caption-width: 100%;
$scrollbar-size: 0.5rem;
$context-size: 2rem;
$input-size: 2.5rem;
