.dropdown-item {
    display: flex;
    transition: all 0.2s;
}
.dropdown-item-icon .icon {
    display: block;
    width: $navbar-size;
    min-width: $navbar-size;
    min-height: $navbar-size;
    padding: 0;
    font-size: 1.25rem;
    line-height: $navbar-size;
    text-align: center;
}
