.navbar-toggler::after,
.nav-item-input .icon,
.nav-item-icon .icon {
    display: block;
    text-align: center;
    font-size: 1.5rem;
    padding: 0;
    width: $navbar-size;
    min-width: $navbar-size;
    min-height: $navbar-size;
    line-height: $navbar-size;
}

.navbar-nav {
    line-height: $navbar-size;

    > .nav-item {
        transition: all 0.2s;
        overflow: hidden;
        height: $navbar-size;

        > .nav-link {
            display: flex;
        }
    }
}

.navbar {
    .navbar-toggler {
        height: $navbar-size;
        border: none !important;

        &::after {
            content: $navbar-toggler-icon;
            @include icon;
        }

        > .navbar-toggler-icon {
            display: none;
        }
    }

    .navbar-collapse {
        transition: all 0.2s;

        @include media-breakpoint-down(sm) {
            .nav-link > .icon {
                margin-right: 0.25rem;
                margin-left: 0.25rem;
            }
        }

        @include media-breakpoint-up(md) {
            .nav-item {
                width: $navbar-size;
            }
            .nav-item-input {
                max-width: 200px;
                margin-right: 0.5rem;
                .icon {
                    margin-right: 0.25rem;
                    order: 1;
                }
            }
        }
    }

    &.navbar-light {
        background-color: $white;
    }
}
