.table {
    margin-bottom: 0;
}

.table-cell-middle {
    td {
        vertical-align: middle;
    }
}

.table-cell-disable {
    text-decoration: line-through;
}

.table-inner {
    background-color: $input-bg;
    box-shadow: $input-box-shadow;

    th,
    td {
        border-color: rgba($main, 0.5) !important;
    }
}

.table-style {
    cursor: pointer;

    th {
        white-space: nowrap;
        border-bottom-color: $main !important;
    }

    th,
    td {
        border: 1px solid $table-border-color;
    }
    tr:first-child th {
        border-top: 0;
    }
    tr:last-child td {
        border-bottom: 0;
    }
    tr td:first-child,
    tr th:first-child {
        border-left: 0;
    }
    tr td:last-child,
    tr th:last-child {
        border-right: 0;
    }

    tr {
        &:hover {
            background: rgba($black, 0.025);
        }
        &:focus {
            background: rgba($black, 0.075);
            outline: 0;
        }
    }
}

.table-cell-id {
    min-width: 3rem !important;
}
