.text-bold {
    font-weight: bold;
}

.text-normal {
    font-weight: normal;
}

.text-medium {
    font-weight: 600;
}

.font-pacifico {
    font-family: 'Pacifico', cursive;
}

.font-size-bigger {
    font-size: 1.25em;
}
