@mixin icon {
    // line-height: 1;
    font-weight: normal;
    font-family: 'ai-web-font', serif !important;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-user-select: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    user-select: none;
}

@mixin transition-all {
    transition: all 0.2s;
}

@mixin white-card {
    background: $white;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
}

@mixin fit-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
