@mixin icon {
    font-weight: normal;
    font-family: 'ai-web-font', serif !important;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    user-select: none;
}

@mixin transition-all {
    transition: all 0.2s;
}

@mixin white-card {
    background: $white;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
}

@mixin fit-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@mixin row-like {
    margin-right: $grid-gutter-width / -2;
    margin-left: $grid-gutter-width / -2;
}
